{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 4 versions",
            "ie > 10"

          ],
          "node": true
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"]
}
