{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2016,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "operator-linebreak": [2, "after"],
    "no-plusplus": 0,
    "max-statements": [2, 10]
  }
}
